@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
 
 * {font-family: 'Inter', sans-serif;   scroll-behavior: smooth;}

 :root {

    --BackgroundSize: 800px;
    --color-main1: salmon;
    --color-main2: rgb(118, 68, 255);
    --color-main3: rgb(61, 255, 113);

}


 body 

 {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    width: 460px;
    background-image: url(background.png);
    background-size: var(--BackgroundSize);
    background-repeat:repeat;    
    animation: movingBackground 30s linear infinite;

 }

@keyframes movingBackground {

    from {

        background-color: rgb(27, 29, 48);  
        background-position: 0 0;
    
    }

    to {
      
        background-position: var(--BackgroundSize) var(--BackgroundSize);
        background-color: rgb(27, 29, 48);  

    }

}
 
/* */

h1 {font-size: 42px; color: var(--color-main1);}


.navbar 

{   
    margin: auto;
    margin-bottom: 35px;

    border-radius: 8px;

    height: 45px;
    background-color: rgba(0, 0, 0,0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.navbar a 

{

color: aliceblue;
text-decoration: none;


font-size: 18px;



}

.navbar a:hover 
{
    color: slategray;
    
}



.card 

{
   
    background-color: rgba(0, 0, 0,0.3);
    display: flex;
    justify-content: space-evenly;
 
    border-radius: 8px;
    margin: auto;
    height: 60px;
    margin-top: 15px;
    align-items: center;

}

input 

{

    font-size: 18px;
    background: none;
    border: none;
    width: 120px;
    color: slateblue;
    margin-left: 15px;
    text-align: end;

    
}

input::placeholder {
    color: slategrey; /* Cambia el color del texto del placeholder */
    font-size: 16px; /* Cambia el tamaño de fuente del placeholder */
}


h4 {color: salmon; font-size: 16px;}

#icon-footer {font-size: 28px; color: whitesmoke;}
#iconoExchange{color:whitesmoke; font-size: 18px;}
#title-div {margin-top: 80px;padding: 15px; color: slategrey;}
#new-button {position:absolute; margin-right: 385px; margin-bottom: -68px; color: white;background-color: slateblue; border: none; border-radius: 8px; padding: 5px;}


#tutorial-button {position:absolute; margin-right: px; margin-top: -65px; color: white;background-color: #FFAE42; border: none; border-radius: 8px; padding: 5px; color: black; font-size: 12px;}


#tutorial-button2 {position:absolute; margin-left: 330px; margin-top: -65px; color: white;background-color: #FFAE42; border: none; border-radius: 8px; padding: 5px; color: black; font-size: 12px;}

